.principal{
    color:white;
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    gap:20px;
    padding: 30px;
    background-color: red;
}

.secundario{
    display: flex;
    justify-content: center;
    color:white;
    gap:30px;
    
}