.contenedorCards{
    
    position: relative;
    border: solid white 1px;
    color:green;
    height: 100%;
    width: auto;
    display:flex;
    flex-direction: row;
    gap:20px;
    flex-wrap: wrap;
    justify-content: center;
    top:10px;
    background-color: black;
    

}
.label{
    color:white;
}

.paginas{
    display: flex;
    justify-content: center;
    gap:20px;
}